* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
}

#navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 4;
    top: 0px;
}

.logo {
    display: inline;
    position: relative;
    top: 12px;
    right: 25px;
}

.nav-list {
    width: 92%;
    display: flex;
}

.nav-list li {
    display: inline;
    list-style: none;
    padding: 26px 30px;
    font-size: small;
    width: auto;
}

.logo1 {
    height: 70px;
    width: 120px;
    gap: 75px;
}

.logo1 img {
    width: 10%;
    height: auto;
}

#first-page {
    font-size: large;
}

#first-page {
    position: relative;
    left: 100px;
    top: 50px;
}

.bg-linear-color {
    position: absolute;
    padding-top: 0;
    top: 20%;
    height: 100%;
    right: 0;
    content: "";
    width: 20vw;
    background: linear-gradient(180deg, #444bab, rgba(99, 167, 211, .266) 73.44%, rgba(110, 200, 225, 0));
    z-index: 0;
}

.form-validation {
    position: relative;
    left: 760px;
    bottom: 400px;
}

.form-validation {
    width: 350px;
    height: 370px;
    border: 5px solid black;
    padding: 40px;
    margin: 10px;
}

.form-validation {
    right: 0;
    margin-top: 40px;
}

.form-validation {
    padding: 2vw;
    background: #fff;
    border: 1px solid rgba(68, 71, 88, .22);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: Poppins!important;
    z-index: 2;
    position: relative;
    right: 15%;
    top: 13%;
}

.taking-input {
    position: relative;
    width: 200px;
}

.intro-heading {
    background: linear-gradient(93.22deg, #303abb 1.03%, #3ca5c2 97.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 5px;
    margin-top: 8px;
    width: 100%;
}

.main-heading {
    font-family: Poppins-SemiBold;
    font-size: 3vw;
}

.main-heading {
    color: #4f516b;
}

.heading {
    position: relative;
    text-align: center;
    bottom: 380px;
}

.heading h1 {
    font-family: Poppins-SemiBold;
    font-size: 3vw;
    color: #4f516b;
}

.box-model {
    position: relative;
    left: 70px;
    width: 350px;
    height: 400px;
    bottom: 300px;
    display: inline-block;
    margin: 2px;
    border: 1px solid rgba(68, 71, 88, .22);
}

.start-impact {
    position: relative;
    bottom: 250px;
}

.impact {
    position: relative;
    display: inline-block;
    text-align: center;
    left: 400px;
    bottom: 250px;
}

.numerical {
    background: linear-gradient(93.22deg, #303abb 1.03%, #3ca5c2 97.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.offering {
    position: relative;
    bottom: 200px;
}

.imagex {
    position: relative;
    bottom: 190px;
    left: 100px;
}

.about {
    position: relative;
    left: 540px;
    bottom: 400px;
}

.hiring {
    position: relative;
    bottom: 200px;
    left: 100px;
}

.imagey {
    position: relative;
    left: 800px;
    bottom: 370px;
}

.alumuni {
    position: relative;
    left: 50px;
    bottom: 300px;
}

.imagez {
    position: relative;
    left: 730px;
    bottom: 560px;
}

.success-story {
    position: relative;
    text-align: center;
    bottom: 540px;
}

.imagea {
    position: relative;
    bottom: 500px;
    left: 560px;
}

.about-course {
    text-align: center;
    position: relative;
    bottom: 500px;
}

.Leader {
    position: relative;
    text-align: center;
    bottom: 430px;
}

.container {
    position: relative;
    width: 1263px;
    height: 550px;
    border: 1px;
    background: linear-gradient(96.55deg, rgba(62, 142, 188, .62), rgba(63, 126, 184, .536) 30.88%, rgba(65, 106, 179, .43) 84.64%, rgba(67, 81, 173, .302) 99.02%, rgba(68, 75, 171, .67) 102.21%);
    bottom: 380px;
}

.col {
    width: 400px;
    height: 490px;
    position: relative;
    top: 40px;
    left: 15px;
    margin: 3px;
    border: 1px solid rgba(68, 71, 88, .22);
    float: left;
    background: white;
}

.name-title {
    text-align: center;
}

.image1 {
    position: relative;
    left: 130px;
    bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image2 {
    position: relative;
    left: 130px;
    bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image3 {
    position: relative;
    bottom: 20px;
    left: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.experienced {
    width: 420px;
    height: 270px;
    border: 1px solid rgba(68, 71, 88, .22);
    position: relative;
    left: 780px;
    bottom: 530px;
}

.image5 {
    position: relative;
    top: 40px;
    right: 80px;
}

.ninth {
    position: relative;
    bottom: 300px;
    left: 50px;
}

.aboutex {
    position: relative;
    bottom: 140px;
    left: 100px;
}

.blogs {
    text-align: center;
    position: relative;
    bottom: 430px;
}

.box-model1 {
    position: relative;
    left: 80px;
    width: 350px;
    height: 440px;
    bottom: 360px;
    display: inline-block;
    margin: 2px;
    border: 1px solid rgba(68, 71, 88, .22);
}

.last-button1 {
    text-align: center;
    position: relative;
    bottom: 320px;
}

.twelth-page1 {
    position: relative;
    width: 1263px;
    height: 550px;
    border: 1px;
    background: #f3f4ff;
    bottom: 250px;
}

.last-form {
    position: relative;
    left: 800px;
    bottom: 360px;
}

.imagelast1 {
    position: relative;
    top: 30px;
    left: 30px;
}

.success-story1 {
    text-align: center;
    position: relative;
    bottom: 130px;
}

.footer {
    position: relative;
    width: 1263px;
    height: 490px;
    border-top: 2px solid #c7cdf1;
    border-bottom: 1px solid #4f516b;
    bottom: 15px;
}

.last1 {
    position: relative;
    top: 100px;
    left: 100px;
}

.last2 {
    position: relative;
    left: 800px;
    bottom: 160px;
}

.rights {
    text-align: center;
}